@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hiệu thuốc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .navbar-brand {
            color: #6541e1 !important;
        }

        .nav-link {
            color: #000 !important;
            font-size: 1.15rem; /* Tăng kích thước phông chữ */
            padding: 0.75rem 1rem; /* Tăng padding để mục lớn hơn */
        }

            .nav-link:hover {
                color: #509c2f !important;
            }

        .btn-primary {
            background-color: #6541e1;
            border-color: #6541e1;
        }

            .btn-primary:hover {
                background-color: #509c2f;
                border-color: #509c2f;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:30px">
                    <img src="~/images/logo.png" alt="Hiệu thuốc Logo" style="height: 80px; margin-right: 10px;">
                    Hiệu thuốc Công Anh
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Medicines" asp-action="Index"><i class="fas fa-pills"></i> Thuốc</a>
                        </li>
                        @if (Context.Session.GetString("CustomerLogin") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index" asp-route-customerId="@Context.Session.GetInt32("CustomerId")"><i class="fas fa-file-invoice"></i> Đơn thuốc</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Carts" asp-action="Index" asp-route-customerId="@Context.Session.GetInt32("CustomerId")"><i class="fas fa-shopping-cart"></i> Giỏ thuốc</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customers" asp-action="Details" asp-route-customerId="@Context.Session.GetInt32("CustomerId")"><i class="fas fa-user"></i> Thông tin cá nhân</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Logout", "LoginC")"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="LoginC" asp-action="Index"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Create"><i class="fas fa-user-plus"></i> Đăng ký</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>